@import "../../theme.scss";

.App {
  width: 100%;
  margin: auto;

  .body .content {
    width: 100%;
    margin: auto;
    .boxed {
      min-height: 100vh;
      padding-top: 100px;
      padding-bottom: 40px;

      @media (min-width: 768px) {
        width: 60%;
        margin: auto;
      }
      @media (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

button {
  outline: none;
  border-radius: 3px;
  font-size: 1em;
  padding: 0.5em 0.5em;
  background: transparent;
  color: $larcDarkgrey;
  border: 2px solid $larcDarkgrey;
  
  &.primary {
    color: $larcPrimary;
    border: 2px solid $larcPrimary;
  }
  &.secondary {
    color: $larcSecondary;
    border: 2px solid $larcSecondary;
  }
  &.accent {
    color: $larcAccent;
    border: 2px solid $larcAccent;
  }
  &.block {
    background-color: $larcWhite;
    color: $larcWhite;
    &.primary {
      background-color: $larcPrimary;
    }
    &.secondary {
      background-color: $larcSecondary;
    }
    &.accent {
      background-color: $larcAccent;
    }    
  }

  &.icon {
    font-size: 0.8em;
    padding: 0em 0em;
    background: transparent;
    border: none;
  }

  .material-icons {
    vertical-align: bottom;
    font-size: 20px;
    margin-right: 5px;
  }
}
