.dialog-container {
  background-color: var(--color-dialog) !important;
  color: var(--color-body-invert);
}

.App {
  width: 100%;
  margin: auto;

  .body .content {
    width: 100%;
    margin: auto;
    .boxed {
      min-height: 100vh;
      padding-top: calc(var(--height-nav) + 20px);
      padding-bottom: 40px;

      @media (min-width: 768px) {
        width: 60%;
        margin: auto;
      }
      @media (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .backdrop-fade {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 2;
    opacity: 0.5;
    overflow: hidden;
  }
}

button {
  cursor: pointer;
  outline: none;
  font-size: 16px;
  padding: 0em 1em;
  height: 36px;
  background: transparent;
  color: var(--color-btn-fg-default);
  border: none;
  // border: 2px solid var(--color-btn-default);
  border-radius: 18px;
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);

  &:hover {
    background-color: var(--color-btn-default-active);
    color: var(--color-btn-default-active-fg) !important;
  }
  
  &.primary {
    // border: 2px solid var(--color-btn-primary); 
    color: var(--color-btn-primary-fg); 
    background-color: var(--color-btn-primary);
    &:hover {
      background-color: var(--color-btn-primary-active);
      color: var(--color-btn-primary-active-fg) !important;
    }
  }
  &.secondary {
    // border: 2px solid var(--color-btn-secondary);
    color: var(--color-btn-secondary); 
    background-color: var(--color-btn-secondary);
    &:hover {
      background-color: var(--color-btn-secondary-active);
      color: var(--color-btn-secondary-active-fg) !important;
    }
  }
  &.block {
    background-color: var(--color-btn-default);
    color: var(--color-btn-fg-default-block);
    &.primary {
      background-color: var(--color-btn-primary);
      color: var(--color-btn-fg-block) !important;
    }
    &.secondary {
      background-color: var(--color-btn-secondary);
      color: var(--color-btn-fg-block) !important;
    }  
  }

  &.icon {
    font-size: 0.8em;
    padding: 0em 0em;
    background: transparent;
    border: none;
  }

  .material-icons {
    vertical-align: bottom;
    font-size: 20px;
    margin-right: 5px;
  }
}


.MuiInputLabel-root, .MuiInputBase-root {
  color: white;
}