.home {
    height: 100vh;
    // height: 807vh;
    // background: url('../../images/login_bg8.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: slide 60s linear infinite;

    .container {
        // padding: 100px;
        padding-top: 70px;

        .navitem {
            text-decoration: none;
            color: var(--color-primary);
        }

        .section {
            height: calc(100vh - 70px);
            display: grid;
            align-content: center;
            font-size: 2rem;
            color: white;

            &.one {
                background-color: rgba(161, 94, 73, 0.4);
                text-align: right;
                justify-content: right;
                padding-right: 50px;
            }

            &.two {
                background-color: rgba(137, 2, 62, 0.3);
                text-align: left;
                justify-content: left;
                padding-left: 50px;
            }

            &.three {
                background-color: rgba(115, 147, 126, 0.4);
                text-align: right;
                justify-content: right;
                padding-right: 50px;
            }

            &.four {
                background-color: rgba(49, 24, 71, 0.4);
                text-align: left;
                justify-content: left;
                padding-left: 50px;
            }

            &.five {
                background-color: rgba(161, 94, 73, 0.4);
                text-align: right;
                justify-content: right;
                padding-right: 50px;
            }

            &.six {
                background-color: rgba(137, 2, 62, 0.3);
                text-align: left;
                justify-content: left;
                padding-left: 50px;
            }

            &.seven {
                background-color: rgba(115, 147, 126, 0.4);
                text-align: right;
                justify-content: right;
                padding-right: 50px;
            }

            &.eight {
                background-color: rgba(49, 24, 71, 0.4);
                text-align: left;
                justify-content: left;
                padding-left: 50px;
            }
        }
    }    
} 
