.action-button {
    display: inline;
    margin: 4px;
    button {
        margin: 0;
        background-color: var(--color-body-invert);
        color: var(--color-body) !important;
        text-transform: none;
        font-size: 1em;
        &.center {
            border-radius: 100px;
            padding-left: 6px;
            padding-right: 6px;
            padding-top: 2px;
            padding-bottom: 2px;
            cursor: pointer;
        }
        &.left {
            border-radius: 100px 0 0 100px;
            padding-left: 6px;
            padding-right: 6px;
            padding-top: 2px;
            padding-bottom: 2px;
            cursor: pointer;
        }
        
        &.right {
            border-radius: 0 100px 100px 0;
            padding-right: 6px;
            padding-top: 2px;
            padding-bottom: 2px;
            cursor: pointer;
        }

        &.primary {
            background-color: var(--color-primary);
        }

        &.secondary {
            background-color: var(--color-secondary);
        }

        &.danger {
            background-color: var(--color-btn-action-danger-bg);
        }
    }
}