.view-main, .view-container {
    min-height: 100vh;
    // padding-top: calc(var(--height-nav) + 20px);
    // padding-bottom: 40px;

    @media (min-width: 768px) {
      // width: 60%;
      // margin: auto;
    }
    @media (max-width: 767px) {
      padding-left: 20px;
      padding-right: 20px;
    }
}





.view-desktop {
  @media (min-width: 768px) {
    display: inline;
  }
  @media (max-width: 767px) {
    display: none;
  }
  .view-content {
    padding: 50px;
    padding-top: calc(var(--height-nav) + 20px);
    margin-left: calc(25vw + 40px);
    min-height: 100vh;
  }
  
  .view-side {
    width: 25vw;
    border-right: 1px solid var(--color-body-invert-dim);
    position: fixed;
    overflow-y: auto;
    top: var(--height-nav);
    bottom: 0;
    padding: 20px;
    padding-bottom: 100px;
    
    .section-footer {
        width: 25vw;
        position: fixed;
        bottom: 0;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        justify-content: right;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-right: -80px;
        background-color: var(--color-body);
    }
  }  
}


.view-mobile {
  @media (max-width: 767px) {
    display: show;
  }
  @media (min-width: 768px) {
    display: none;
  }
}








.view-filter {
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    z-index: 1;
    color: var(--color-body);

    &::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        top: -50%;
        left: -53%;
        border-radius: 50%;
        background-color: var(--color-body-invert);
        z-index: -1;
    }
}

.slider {
  min-height: calc(100vh - var(--height-nav));
  width: 100vw;
  top: var(--height-nav);
  background-color: var(--color-nav-slider);
  position: fixed;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  // z-index: 0;
  min-height: calc(100vh - var(--height-nav));
  @media (max-width: 767px) {
    width: 100vw;
  }

  overflow-y: auto;
  bottom: 0;
  .container {
      display: grid;

      &::before {
          content: '';
          width: 100%;
          height: 4px;
          background-color: var(--color-secondary);
      }

      &.hidetext {
          display: none;
      }

      .filter-container {  
        .filter-body {
              display: grid;
              align-content: flex-start;
              margin-bottom: 100px;
        }
  
        .section-footer {
            position: fixed;
            bottom: 0;
            width: 100vw;
            background-color: var(--color-nav-slider);
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-around;
            padding: 10px;
        }
}
  }

  &.hide {
      width: 0vw;
  }

  &.show {
      padding: 0px;
      // padding-left: 2vh;
      // padding-right: 2vh;
  }


}