@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  font-family: 'Lato', sans-serif;
  background-color: var(--color-body);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  .theme_dark {

    --color-body: #f5f5f5;
    --color-primary: #F19F4D;
    --color-secondary: #1B998B;
    --color-accent: #9B5094;
    --color-darkgrey: darkgrey;
    --color-grey: grey;
    --color-white: white;
    --color-black: black;
    --color-success: #6ABC65;
    --color-warning: #49A078;
    --color-failure: #BF2A3D;
  
    --color-nav: #2a2e45;
    --color-nav-text: var(--color-white);
    --color-nav-hover: rgba(239, 91, 91, 0.1);
    --color-nav-active: var(--color-primary);
    --color-nav-slider: #2a2e45;
    --color-navitem-mobile: var(--color-white);

    --color-dialog: black;
  }
  
  .theme_light {
    --color-body: #f5f5f5;
    --color-primary: #F19F4D;
    --color-secondary: #1B998B;
    --color-accent: #9B5094;
    --color-darkgrey: darkgrey;
    --color-grey: grey;
    --color-white: white;
    --color-black: black;
    --color-success: #6ABC65;
    --color-warning: #49A078;
    --color-failure: #BF2A3D;
  
    --color-nav: white;
    --color-nav-text: var(--color-black);
    --color-nav-hover: rgba(239, 91, 91, 0.1);
    --color-nav-active: var(--color-primary);
    --color-nav-slider: var(--color-body);
    --color-navitem-mobile: var(--color-black);

    --color-dialog: white;
    
  }
}
