@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  font-family: 'Lato', sans-serif;
  background-color: var(--color-body);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* --color-primary: #2a2e45;
  --color-accent: #1B998B; */
  /* --color-accent: #EF5B5B; */
  /* --color-accent: #9B5094; */
  
  --color-nav: #2a2e45;
  --color-nav-variant: #505466;
  --color-primary: #EF5B5B;
  --color-secondary: #1B998B;
  --color-accent: #9B5094;
  --color-darkgrey: darkgrey;
  --color-grey: grey;
  --color-white: white;
  /* --color-body: #FCFCFC; */
  /* --color-primary: #fff; */
}

$larcNav: #2a2e45;